<head>
    <title>Thanks for your order!</title>
</head>

<body>
    <h1>Transaction failed</h1>
    
    <p>
      Sorry, something went wrong !!!
      <a href="mailto:orders@example.com">orders@example.com</a>.
    </p>

</body>